<div>
  <h1 class="text-xl text-center"><%= @project.name %></h1>
  <p><%= @project.description %></p>

  <div>
    <% @comments.each do |comment| %>
      <p><%= comment.body %></p>
    <% end %>
  </div>

  <div>
    <%= simple_form_for [@project, @comment] do |f| %>
      <%= f.input :body, label: false, placeholder: "Add a comment..." %>
      <%= f.button :submit, "Add Comment" %>
    <% end %>
  </div>
</div>